@model IEnumerable<SchedulerApp.Domain.Course>

@{
    ViewData["Title"] = "Index";
}

<h2>Welcome to our Scheduler App</h2>

<table border="1" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            <th>Course</th>
            <th>Professor</th>
            <th>Course Time</th>
            <th>Class Length</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Course Credit Hours</th>
            <th>Student Capcity</th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var course in Model)
            {
                <tr>
                    <td>@course.Name</td>
                    @if (course.Professor != null)
                    {
                        <td>@course.Professor.FirstName @course.Professor.LastName</td>
                    }
                    else
                    {
                        <td>No Professor Assigned</td>
                    }
                    <td>@(course.StartTime.Hours % 12 + ":" + course.StartTime.ToString("mm") + " " + (course.StartTime.Hours > 11 ? "pm" : "am"))</td>
                    <td>@course.Length</td>
                    <td>@course.StartDate.ToShortDateString()</td>
                    <td>@course.EndDate.ToShortDateString()</td>
                    <td>@course.CreditHours</td>
                    <td>@course.StudentCapacity</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" align="center">No Schedule Found</td>
            </tr>
        }
    </tbody>
</table>